# 1 + 1 = <%= 1 + 1 %>
# App name is <%= app.name.underscore %>

<%= if depends_on?(app, :mix, :included_mix) do %>
  # Depends on included_mix
<% end %>

<%= if depends_on?(app, :mix, :excluded_mix) do %>
  # Depends on excluded_mix
<% end %>
